<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión De Pedidos</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/administracion.css">
    <link rel="icon" href="../assets/logos/logoPasteleria.png" type="image/x-icon">
</head>

<body>
    <h2>Gestión de Pedidos</h2>
    <div class="botones">
        <a href="/historialPedidos">Historial de Pedidos</a>
        <a href="/pedidos/estadisticas">Estadisticas de Ventas</a>
        <a href="/administradorPanel">Inicio</a>
    </div>
</body>

</html>