<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión De Ingredientes</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/administracion.css">
    <link rel="icon" href="../assets/logos/logoPasteleria.png" type="image/x-icon">
</head>

<body>
    <h2>Gestión de Ingredientes</h2>
    <div class="botones">
        <a href="/ingredientes/registrarNuevoIngrediente">Registrar un Nuevo Ingrediente</a>
        <a href="/ingredientes/comprarIngrediente">Comprar Ingrediente</a>
        <a href="/ingredientes/mostrarIngredientes">Mostrar Todos Los Ingredientes</a>
        <a href="/administradorPanel">Inicio</a>
    </div>
</body>

</html>